@if (detailsProduct) {
<section class="m-5">
  <div class="row align-items-center">
    <h1 class="text-center text-main my-2">Details Product</h1>
    <div class="col-md-3">
      <div>
        <img [src]="detailsProduct.imageCover" class="w-100" [alt]="detailsProduct.title">
      </div>
    </div>
    <div class="col-md-9">
      <div>
        <h2>{{detailsProduct.title}}</h2>
        <p class="text-muted">{{detailsProduct.description}}</p>
        <h3 class="h6">{{detailsProduct.category.name}}</h3>
        <div>
          @for (num of [1,2,3,4,5].slice(0,detailsProduct.ratingsAverage); track $index) {
          <span>
            <i class="fas fa fa-star rating-color"></i>
          </span>
          }
          @if (detailsProduct.ratingsAverage % 1 !==0) {
          <i class="fa-solid fa-star-half rating-color"></i>
          }
          <span class="text-muted px-1">{{detailsProduct.ratingsAverage}}</span>

        </div>


        <button class="btn-main2 mt-2 w-100 " (click)="addCart(detailsProduct.id)"><i
            class="fa-solid fa-plus text-light"></i> Add
          to Cart</button>
      </div>

    </div>

  </div>

</section>
}